::backdrop {
    background-color: #fffbfe;
}

body {
    display: flex;
    background-color: #fffbfe;
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    margin: 5;
    padding: 5;
    flex-direction: column;
}

.header {
    /* border-style: none;
    border-radius: 5px;
    border-color: black;
    background-image: linear-gradient(to right, #455271, #58678a); */
    display: flex;
}

.logo-img {
    margin: auto;
}

.header_buttons {
    margin: auto;
    margin-right: 8px;
    flex: auto;
}