::backdrop {
  background-color: #fffbfe;
}

body {
  display: flex;
  background-color: #fffbfe;
  color: #080705;
  font-family: "Prompt", sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
}

.landing_page {
  margin: 5;
  padding: 5;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
