<style>
  .header {
    display: flex;
  }

  .logo-img {
    margin: auto;
    padding: 6px 6px;
  }

  .header_links {
    margin: auto;
    margin-right: 8px;
    flex: auto;
    padding: 6px 6px;
    font-weight: bold;
  }

  .nav-links {
    justify-content: flex-end;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-links li {
    margin: 0 10px;
  }

  .nav-links a {
    text-decoration: none;
    color: #080705;
    font-weight: 500;
    transition: color 0.35s ease;
  }

  .nav-links a:hover {
    color: #f13030;
  }
</style>
<div class="header">
  <a href="/index.html">
    <img
      class="logo-img"
      src="resources\Logo\TR.png"
      alt="Logo"
      width="60"
      height="44"
    />
  </a>
  <div class="header_links">
    <ul class="nav-links">
      <li><a href="/games.html">Games</a></li>
      <li><a href="#renders">Renders</a></li>
      <li><a href="/blogs.html">Blogs</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
